<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.fileprovider">

    <application>

        <!-- android:authorities不要写死，因为该library最终可能会让多个项目引用-->
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />

        </provider>
    </application>

</manifest>
